<template>
  <App v-if="isReady" />
</template>

<script>
    import * as Font from 'expo-font';
    import { Ionicons } from '@expo/vector-icons';

    import App from './src'

    export default {
       components: {
         App
       },
      data () {
        return {
          isReady: false,
        }
      },
      async created() {
        await Font.loadAsync({
          Roboto: require('native-base/Fonts/Roboto.ttf'),
          Roboto_medium: require('native-base/Fonts/Roboto_medium.ttf'),
          ...Ionicons.font,
        });
        // this.setState({ isReady: true });
        this.isReady = true
      }
    }
</script>
