<template>

      <Root>
        <AppNavigation />
      </Root>

</template>

<script>
  import HomeScreen from "@/screens/HomeScreen";
  import Screen1 from "@/screens/Screen1";
  import Screen2 from "@/screens/Screen2";
  import Screen3 from "@/screens/Screen3";

  import { Root } from "native-base";

  import { createStackNavigator } from "react-navigation-stack";
  import { createAppContainer } from 'react-navigation';
  import { createMaterialBottomTabNavigator } from 'react-navigation-material-bottom-tabs';
  import { createDrawerNavigator} from "react-navigation-drawer";

  const HomeStack = createStackNavigator(
      {
        Home : HomeScreen,
        ScreenOne : Screen1,
      },
      {
        initialRouteName: 'Home'
      }
  )

  const SomeOtherStack = createStackNavigator({
    Screen2
  }, {
    headerMode: 'none',
    navigationOptions: {
      headerVisible: false
    }
  })

  const SomeOtherOtherStack = createStackNavigator({
    Screen3
  }, {
    headerMode: 'none',
    navigationOptions: {
      headerVisible: false
    }
  })

  const DrawerNavigation = createDrawerNavigator({
    DrawerStack1: SomeOtherStack,
    DrawerStack2: SomeOtherOtherStack
  })

  const TabNavigation = createMaterialBottomTabNavigator({
    Meetups : HomeStack,
    Other : DrawerNavigation
  })

  const AppNavigation = createAppContainer(TabNavigation)

  export default {
    components: {
      AppNavigation, Root
    }
  }
</script>

<style scoped>

</style>